<div class="container">
  <h1>{{title}}</h1>
  <!-- <fa-icon style="float: right; font-size: 20px;" [icon]="faCodeBranch"></fa-icon> -->

  <form > <!-- [formGroup]="form" -->
    <mat-form-field appearance="fill" style="width: 180px">
      <mat-label>Estado</mat-label>
      <mat-select [(ngModel)]="selectedState"  [ngModelOptions]="{standalone: true}" value="MS">
        <mat-option *ngFor="let estado of estados" [value]="estado.sigla">
          {{estado.nome}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="example-form-field" appearance="fill">
      <mat-label>Inscrição Estadual</mat-label>
      <input matInput type="text" (input)="onSend(receber.value)" [(ngModel)]="ie" [value]="ie" #receber >
    </mat-form-field>
  </form>

  <p> Estado Selecionado: {{selectedState}} </p>
  <p> IE Digitado: {{ie}} </p>

  <div>
    <button mat-raised-button color="primary" (click)="onClick()">Consultar</button>
  </div>

  <div style="margin-top: 50px;">
    <h2>Documentação:</h2>
    <p><a href="https://openbase.com/js/validations-br/documentation" target="_blank">https://openbase.com/js/validations-br/documentation</a>
    <p></p>
  </div>
  <div style="margin-top: 20px;">
    <h2>NPMJS:</h2>
    <p><a href="https://www.npmjs.com/package/validations-br" target="_blank">npm i validations-br</a>
    <p></p>
  </div>
</div>
